* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-align: center;
/*  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  font-family: Arial;
  background-color: #FBDA61;
  background-image: linear-gradient(to top left, #FF5A5D, #FBDA61);
}

header h1 {
  font-weight: normal;
  padding: 20px;
  letter-spacing: 0.1em;
}

main {
  width: 300px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  main {
    width: 600px;
  }
}

.label {
  display: block;
  margin: 10px 0;
}

.search {
  -webkit-appearance: button;
  padding: 10px;
  font-size: inherit;
  width: 100%;
}

.results {
  margin-top: 20px;
}

.results li {
  background: rgba(256,256,256,0.6);
  margin-bottom: 2px;
  list-style: none;
  padding: 10px 0;
}

.results li:hover {
  cursor: pointer;
  color: #FF5A5D;
}

.lyrics {
  background: rgba(256,256,256,0.6);
  margin: 20px auto;
  padding: 20px;
}

.copy-lyrics {
  margin: 10px auto 20px;
  padding: 10px;
  color: #FF5A5D;
  border: solid #FF5A5D 1px;
  cursor: pointer;
}
.copy-lyrics:hover {
  background: #FF5A5D;
  color: white;
}

.hidden {
  display: none;
}

footer {
  font-size: 14px;
  padding: 10px;
}

footer a {
  text-decoration: none;
  color: #666;
}

footer a:hover {
  text-decoration: underline;
  color: #000;
}